
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="UploadFile" asp-controller="IFormFiles" class="fs-3">Upload One File</a>
<br />
<br />
<a asp-action="UploadFileCollection" class="fs-3 mb-3">Upload Many Files</a>

