@model CategoryIndexVM
@{
    ViewData["Title"] = "Index";
}

<h1>Category Index</h1>

<div class="d-flex flex-wrap g-3">
    @foreach (var category in Model.RootCategories!)
    {
        <div class="text-center border border border-3 rounded p-3">
            <img src="@Url.Content(category.ImagePath)"
                 alt="Model.CategoryDTO.ImagePath"
                 class="d-block mb-1"
                 width="200" />
            <h3>
                <a asp-action="SubIndex"
                   asp-route-categoryId="@category.Id">
                    @category.Id - @category.Name
                </a>
            </h3>
        </div>
    }
</div>